.top-banners {
  display: flex;
  flex-direction: column;

  .top-banners_item {
    align-self: stretch;
    justify-content: center;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    background-color: $color-green;
    border-bottom: 1px solid $color-link;
    font-family: $font-title;
    padding: 6px 55px 6px 20px;
    display: none;

    @media screen and(min-width: 768px) {
      padding: 20px 30px;
    }

    .top-banners_item--body {
      display: inline-flex;
      margin-right: 5px;
      align-items: center;
      font-weight: 700;
      flex: 2 0 175px;
      font-size: 14px;
      line-height: 17px;
      padding: 5px;

      @media screen and (min-width: 530px) {
        flex: 0 1 auto;
      }

      p {
        display: inline;
        color: $white;
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        color: $white;

        &:hover {
          color: $white-90;
        }
      }
    }
    .top-banners_item--btn {
      //background-color: $color-green;
      color: $white;
      text-decoration: none;
      white-space: nowrap;
      align-self: center;
      padding: 0 15px;
      border-radius: 20px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 30px;
      outline: none !important;
      border: 1px solid transparent;
      transition: background-color 0.2s cubic-bezier(0.6, 0.41, 0.47, 1.18),
        color 0.3s cubic-bezier(0.6, 0.41, 0.47, 1.18);
      max-width: 100%;

      &:hover {
        filter: brightness(0.9) contrast(1.2);
      }
    }
    .top-banners_item--btn-blue {
      background-color: $color-link;

      &:hover {
        background-color: $color-link-hover;
      }
    }
    .top-banners_item--btn-close {
      color: $white;
      background: transparent;
      border: 0;
      outline: none;
      font-size: 16px;
      cursor: pointer;
      transition: font-size 0.2s linear;
      display: none;
      position: absolute;
      top: 6px;
      right: 20px;
      padding: 6px 3px;

      @media screen and (min-width: 768px) {
        top: 20px;
        right: 15px;
        padding: 6px 0;
      }
      @media screen and (min-width: 991px) {
        top: 15px;
      }

      &:hover {
        color: $white-90;
      }
    }
    // only for actual .top-banners_item
    &.visible {
      display: flex;
    }
    // only if browser have localStorage
    &.can-close {
      transform-style: preserve-3d;
      transition: all 0.2s linear;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

      &.is-closed {
        transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }

      .top-banners_item--btn-close {
        display: block;
      }
    }
  }
}
