html, body, a, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, abbr, acronym, address, big, cite, del, dfn, table, caption, td, th, ins, img, em, kbd, q, s, samp, small, strike, strong, sup, sub, var, tt, dl, dt, dd, ol, ul, li, form, fieldset, label, tr, thead, tfoot, tbody, legend, pre, code {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  vertical-align: baseline;
  -webkit-padding-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  box-sizing: border-box;
}
body {
  line-height: $line-height;
  background: #fff;
  font-size: $font-size;
  font-weight: normal;
  font-family: $font-sans;
  color: $color-default;
  text-size-adjust: 100%;
  overflow-x: hidden;

  &.mobile-nav-on {
    position: fixed;

    #container {
      overflow-y: auto;
    }
  }
}

a {
  cursor: pointer;
  transition: 0.2s;

  img {
    border: none;
  }

  &.article-title:hover {
    color: $color-link-hover;
  }
}

table, caption, td, th {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}

button, select, input, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  margin: 0 auto;
  @include clearfix;
}

.inner {
  @include clearfix;
}

#content-wrap {
  background-color: white;
  margin: -1px 0;
  position: relative;
  //top: 62px;
  //bottom: 334px;
  //overflow-y: hidden;

  &.rtl {
    direction: rtl;
  }
}

@media print {
  #header {
    display: none;
  }
  .article {
    padding: 0;
  }
  .article-anchor {
    display: none !important;
  }
  .article-content {
    a {
      color: $color-default;
      text-decoration: underline;
      
      &:after {
        content: "(" attr(href) ")";
        font-size: 80%;
      }
    }
  }
  .article-footer {
    display: none;
  }
  .article-footer-prev {
    display: none;
  }
  .article-footer-next {
    display: none;
  }
  #comments {
    display: none;
  }
  #footer {
    display: none;
  }
}

#content {
  background-color: #fff;
  position: relative;
  @include clearfix;
}

#content-inner {
  position: static;
  overflow-x: hidden;
  @include clearfix;
}

.experimental #article {
  background-color: #fffbf5;
  border-left: 5px solid #f0ad4e;

  .note.warning {
    border: 5px solid #f0ad4e;
  }

  code, .dashboard-ad, .note.warning {
    background-color: white;
  }

  .dashboard-ad {
    border: 1px solid #ddd;
  }

  pre code {
    background-color: inherit;
  }

  blockquote {
    background-color: #f5f5f5;
  }
} 

#container {
  transition: 0.4s;
  height: 100%;

  @media screen and (max-width:768px) {
    overflow-x: hidden;
  }
}

.not-found {
  text-align: center;

  h1 {
    font-family: $font-title;
    font-size: 3em;
    font-weight: bold;
    line-height: 100px;
    margin: 50px 0 0px 0;
    text-transform: capitalize;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0px 0;
    display: inline-block;
    text-align: left;

    li {
      margin-bottom: 20px;
      &>i.fa {
        margin-right: 5px;
      }
    }
  }

  a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dotted #86ceb6;
  }

  blockquote {
    margin: 10px 0 100px 0;
    padding: 15px;
    font-style: italic;

    strong {
      font-weight: bold;
    }
  }
}

i.fa {
  &.red {
    color: $color-red;
  }

  &.orange {
    color: $color-orange;
  }

  &.green {
    color: $color-green;
  }
}

:target::before {
  content: "";
  display: block;
  height: 92px; /* fixed header height*/
  margin: -92px 0 0; /* negative fixed header height */
}
