.examples {
  h2 {
    a {
      text-decoration: none;
      border-bottom: 0;
      font-size:.9em;
    }
  }

  h5 {
    color: #999;
    font-weight: normal;
  }
}

.article-content .media {
  width: 48%;
  float: left;

  &:nth-child(odd) {
    clear: both;
  }

  &:nth-child(even) {
    padding-right: 0;
    float: right;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3em;
    border-bottom: 0;
    margin-bottom: 5px;
    margin-top: 2em;
    height: 50px;
    position: relative;

    a {
      position: absolute;
      bottom: 0;
    }
  }

  img {
    margin: 0;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 5px;
  }

  a.img-link, a.img-link:hover, a.img-link:focus, a.img-link:active {
    border-bottom: 0;
  }
}

.media-small {
  margin-bottom: 100px;
}