footer.wrapper {
  color: #fff;
  position: relative;
  background: $color-background;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */

  input.form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 12px;
    height: 36px;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 0.9em;

    &:focus {
      box-shadow: none;
      border: 1px solid darken(white, 50%);
    }
  }

  .btn-success {
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    border: 0;
    font-size: 0.9em;
    font-weight: bold;
    background-color: $color-green;
    border-color:  $color-green;

    &:hover, &:focus, &:active, &:active:hover {
      color: white;
      background-color: darken($color-green, 5%);
      border-color: darken($color-green, 5%);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: $white;
    }
  }

  .top {
    padding: 40px 0;
    color: #fff;
    display: flex;
    flex-direction: row;

    .footer-nav {
      flex: 1 0 0;

    }

    .footer-form {
      flex: 2 0 0
    }

    #footer-social {
      li {
        display: inline;
      }
    }

    h5 {
      margin-top: 40px;
      font-size: 0.95em;
      font-weight: bold;
      color: #fff;
    }

    ul {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0;

      a {
        font-size: 0.85em;
        color: #b2b4b6;
        line-height: 2em;

        &:hover {
          color: $white;
        }
      }
    }

    .form-group{
      display: flex;
      flex-direction: row;
    }
  }

  .bottom {
    color: #a2a4a6;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

#footer-social {
  margin-top: 20px;
  a {
    color: #b2b4b6;
    margin-right: 10px;

    &:hover {
      color: $white;
    }

    i {
      font-size: 30px;
    }
  }
}

#footer-copyright {
  margin-bottom: 20px;
  font-size: 0.9em;
}
