.main-header {
  background-color: #17202C;
  transform-style: preserve-3d;
  transition: all 0.2s linear;

  &#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 20;
  }
  &.header-top-hidden {
    visibility: hidden;
  }
}

.header-inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  @media screen and(max-width: 768px) {
    justify-content: center;
  }
}

#logo-wrap,
.logo-wrap {
  margin: 0 ($sidebar-width - 205px);
}

#logo,
.logo {
  img {
    width: 102px;
    position: relative;
    vertical-align: middle;
  }
}

#main-nav,
.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;


  ul {
    display: flex;
    list-style: none;
  }
}

.main-nav {
  .main-nav-link {
    display: block;
  }
}

.main-nav-link {
  display: none;
  font-size: 1.1em;
  color: $white-60;
  text-decoration: none;
  line-height: 50px;
  transition: 0.2s;
  font-family: $font-title;
  padding: 5px 20px 2px;
  font-weight: 400;
  border-bottom: 5px solid transparent;

  &:hover {
    opacity: 1;
    color: $white;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-bottom: 5px solid #00bf88;
  }

  .fa-github {
    font-size: 1.4em;
    position: relative;
    top: 3px;
  }
}

#lang-select-wrap {
  display: none;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 10px;
  float: right;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    background-color: rgba(255, 255, 255, 0.18);
  }
}

#lang-select-label {
  color: $white;
  opacity: 0.7;
  font-family: $font-title;
  line-height: 30px;
  span {
    padding-left: 6px;
    padding-right: 6px;
  }
  i {
    opacity: 0.7;
  }
}
#lang-select {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
