code {
  margin: 0;
  padding: 0 4px;
  display: inline-block;
  line-height: 1.5;
  border: 0;
  outline: 0;
  font-family: inherit;
  vertical-align: baseline;
  font-family: $font-mono;
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: 500;
  border: 1px solid #eee;
}

.note.info {
  code {
    background-color: #dcf1f7;
    border: 0;
  }

  a code {
    color: #0f7d9a;

    &:hover {
      background-color: darken(#dcf1f7, 2%);
    }
  }
}

.note.warning {
  code {
    background-color: #f7ebd7;
    border: 0;
  }

  a code {
    color: #ce820c;

    &:hover {
      background-color: darken(#f7ebd7, 4%);
    }
  }
}

.note.success {
  code {
    background-color: #cff1e6;
    border: 0;
  }

  a code {
    color: #00bf88;

    &:hover {
      background-color: darken(#00bf88, 2%);
    }
  }
}

.note.danger {
  code {
    background-color: #f5e4e4;
    border: 0;
  }

  a code {
    color: #de5e5a;

    &:hover {
      background-color: darken(#f5e4e4, 2%);
    }
  }
}

blockquote {
  code {
    background-color: #eaeaea;
  }
}

a code {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
    background-color: darken(#EDF9F5, 2%);
  }
}

.article pre, .article pre code,
.faq pre, .faq pre code {
  &[class*="language-"] {
    font-size: 0.95em;
    font-family: $font-mono;
    color: $highlight-foreground; 
    background-image: none;
    background-color: $highlight-background;
    font-weight: 500;
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    line-height: 1.8em;

    .punctuation, .operator {
      background-color: $highlight-background;
    }

    .atrule {
      color: $highlight-blue;
    }

    .operator {
      color: $highlight-orange;
    }

    .token {
      &.keyword, &.function {
        
        color: $highlight-blue;
      }

      &.comment {
        color: $highlight-comment;
      }

      &.string, &.selector {
        color: $highlight-green;
      }

      &.regex, &.boolean, &.number, &.property, .interpolation  {
        color: $highlight-red;
      }

      .attr-value, .interpolation-punctuation {
        color: $highlight-purple;
      }
    }
  }
}

.article pre, .faq pre {
  &[class*="language-"] {
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 6px;

    .token.punctuation {
      color: #ddd;
    }
  }
}

.article pre code.language-shell, 
.faq pre code.language-shell, 
.article pre.language-shell code,
.faq pre.language-shell code {
  padding-left: 3.8em;
  font-size: 0.9em;
}

.article pre code.language-text, 
.faq pre code.language-text, 
.article pre.language-text code,
.faq pre.language-text code {
  background-color: #f7f7f7;
  color: #666;
}

.article pre.language-text,
.faq pre.language-text {
  background-color: #f7f7f7;
}

.article pre.language-shell,
.faq pre.language-shell {
  border-left: 5px solid  $highlight-background;
  background-color: $highlight-background;
  color: $highlight-foreground;

  code {
    padding-left: 2em;
    background-color: $highlight-background;
    color: #f5f6f8;
  }


  &:before{
    content: '$';
    z-index: 1;
    display: block;
    color: $color-green;
    bottom: auto;
    left: 10px;
    width: auto;
    height: auto;
    max-height: 13em;
    box-shadow: none;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}

.article pre.language-html,
.faq pre.language-html {
  .token.tag {
    color: $highlight-red;
  }

  .token.attr-name {
    color: $highlight-red;
  }
}

.article pre.language-js
.article pre code.language-js,
.faq pre.language-js
.faq pre code.language-js {
  
  .token.property, .token.tag, .token.boolean, .token.number, .token.function-name, .token.constant, .token.symbol, .token.deleted {
    color: $highlight-red;
  }

  .token.operator, .token.entity, .token.url, .token.variable {
    background-color: transparent;
    color: $highlight-red;
  }


}

.article pre.language-json code,
.faq pre.language-json code {
  .token.property, .token.tag, .token.boolean, .token.number, .token.function-name, .token.constant, .token.symbol, .token.deleted {
    
    color: $highlight-red;
  }

  .token.operator, .token.entity, .token.url, .token.variable {
    background-color: transparent;
  }
}
