.article-wrapper {
  position: relative;
  margin: 60px ($sidebar-width + 40px) 60px ($sidebar-width + 40px);
  display: flex;
  flex-direction: row;
}

#article {
  margin-right: 0;
  width: 100%;

  &.sidebar-fixed {
    margin-right: $sidebar-width;
  }
}

.article {
  position: relative;
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
}

.article-date {
  color: $color-gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    color: $color-link-hover;
  }

}
a.article-edit-link {
  color: #616161;
  font-size: 1em;
  text-decoration: none;
  transition: 0.2s;
  display: none;
  &:hover {
    color: $color-link-hover;
  }
}

.article-content .article-heading + ul {
  padding-left: 15px;
}

.article-heading:hover .article-anchor {
  display: inline-block;
  border: 0;

  &:hover {
    text-decoration: none;
  }
}

.article-content a.article-anchor {
  margin-left: 10px;
  display: none;
  border: 0;
  color: $color-link;

  &:hover {
    color: darken($color-link, 0.5%);
  }

  &:before {
    content: "#";
  }
}
.article-content, .toc-top .article-content {
  line-height: $line-height;

  .api-toc, .api-links {
    list-style: none;
    padding-left: 0;
  }

  .api-li, .api-title {
    margin-left: 0;
    margin-right: 0;
  }

  // we don't want to show the first page we're on
  .api-title:first-child {
    display: none;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  p {
    margin: 25px 0;
    word-wrap: break-word;
    font-family: $font-sans;

    .badge {
      position: relative;
      top: -2px;
    }
  }

  ol {
    margin: 15px 0;
    padding-left: 30px;
    list-style: decimal;

    li:not(.toc-item) {
      margin: 15px 0;

      p {
        margin-bottom: 15px;
      }

      img {
        margin-top: 15px;
      }
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding-left: 30px;
    list-style: disc;

    &.mb-2 {
      margin-bottom: 2rem;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  dl {
    margin: 15px 0;
    padding-left: 30px;
    list-style: square;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  table {
    border: 1px solid #e8e8e8;
    display: block;
    margin: 15px 0;
    overflow: auto;
    width: 100%;

    code {
      white-space: nowrap;
    }

    th {
      font-weight: 500;
      padding: 5px 10px;
      text-align: left;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1em;

      &:empty {
        padding: 0;
      }
    }

    td {
      padding: 15px 10px;
      font-size: 1em;
      line-height: 1.5em;
    }

    td:not(:last-child), th:not(:last-child) {
      white-space: nowrap;
    }

    td:last-child, th:last-child {
      width: 100%;

      code {
        white-space: normal;
      }
    }

    tr:nth-child(2n) {
      background: #fafafb;
    }

    small {
      font-size: small;
    }
  }

  blockquote {
    margin: 15px 0;
    padding: 15px;
    position: relative;
    border-left: 5px solid #eee;
    background-color: #f7f7f7;
    font-style: italic;

    &>p:first-of-type:last-of-type {
      margin-bottom: 0;
      margin-top: 0;
    }

    code {
      border-color: #ddd
    }

    footer {
      margin: 15px 0;
      font-style: italic;

      cite {
        &:before {
          content: "â€”";
          padding: 0 0.3em;
        }
        a {
          color: color-grey;
        }
      }
    }
  }

  iframe {
    margin: 2em 0;
  }

  .highlight {
    margin: 1em 0;
  }

  h1.article-title {
    font-family: $font-title;
    font-weight: bold;
    text-decoration: none;
    color: $color-default;
    line-height: 1.7em;
    color: #282C34;
    font-size: 2.6em;
  }

  h1 {
    font-size: 1.9em;
    line-height: 1.7em;
    font-weight: bold;
    margin: 2em 0 15px 0;
    font-family: $font-title;
    border-bottom: 1px solid #eee;
    color: $color-default;

    &>a {
      font-weight: 500;

      &:hover {
        border-bottom: 0;
      }
    }

    &+h2 {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: bold;
    margin: 1.5em 0 15px;
    font-family: $font-title;
    border-bottom: 1px solid #eee;
    color: #282C34;

    &>a {
      &:hover {
        border-bottom: 0;
      }
    }

    code {
      font-weight: bold;
    }
  }

  h3 {
    font-size: 1.1em;
    line-height: 1.7em;
    font-weight: 500;
    margin: 1.5em 0 0px;
    font-family: $font-title;
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
  }

  h4 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  h5 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  h6 {
    line-height: 1em;
    font-weight: bold;
    margin: 1em 0;
    font-family: $font-title;
  }

  &>h2+p>strong, &>h1+p>strong {
    margin-top: 0;
  }

  a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dotted $color-link;

    &:hover {
      color: $color-link-hover;
      border-bottom: 1px solid $color-link-hover;
    }
  }

  &>a {
    display: inline-block;
    margin-bottom: 15px;
  }

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }

  strong>em {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    border-bottom: 1px dotted #ccc;
  }

  strong + strong>em {
    color: #bbb;
    margin-left: 5px;
  }

  li {
    margin: 15px 10px;
    line-height: 1.7em;

    p {
      margin: 0;
    }
    table {
      margin: 2em 0;
    }
    blockquote {
      margin: 1em 0;
    }
    iframe {
      margin: 1em 0;
    }
    .highlight {
      margin: 2em 0;
    }
  }

  img {
    max-width: 100%;
    border: 1px solid #ddd;
    margin: 15px 0;
    box-shadow: 0 1px 2px #ddd;

    &.width-600 {
      max-width: 600px;
    }

    &.no-border {
      border: 0;
      box-shadow: 0 0 0;
    }
  }

  video {
    max-width: 100%;
    border: 1px solid #ddd;
    margin: 0;
  }

  .note {
    font-weight: 400;
    border: 0;
    margin: 25px 0;
    padding: 20px 40px;
    position: relative;
    border-left: 5px solid $highlight-comment;
    font-style: normal;
    color: #45494c;

    footer {
      margin: 15px 0;
      font-style: italic;

      cite {
        &:before {
          content: "â€”";
          padding: 0 0.3em;
        }
        a {
          color: color-grey;
        }
      }
    }

    p>img {
      margin: 0;
    }

    &>h1, &>h2, &>h3 {
      margin-top: 15px;
      padding-top: 0;
      border: 0;
    }

    ul>li {
      font-weight: 400;
      color: #45494c;
    }

    h1 {
      font-size: 1.2em;
    }

    p:first-of-type:last-of-type {
      margin: 0;
    }

    strong {
      font-weight: 500;
    }

    code {
      border-color: #ddd;
    }

    &.warning {
      border-left-color: $color-orange;
      background-color: #fffbf5;

      .note-title {
        color: $color-orange;
      }

      a {
        color: #e4a23b;
        border-bottom-color: #e4a23b;
      }
    }

    &.info {
      border-left-color: #2a98b9;
      background-color: #f2fafd;

      a {
        color: #2a98b9;
        border-bottom-color: #2a98b9;
      }

      .note-title {
        color: #2a98b9;
      }
    }
    &.success {
      border-left-color: #00bf88;
      background-color: #f1fdf9;

      a {
        color: #00bf88;
        border-bottom-color: #00bf88;
      }

      .note-title {
        color: #00bf88;
      }
    }

    &.danger {
      border-left-color: #d9534f;
      background-color: #fff2f2;

      .note-title {
        color: #d9534f;
      }

      a {
        color: #de5e5a;
        border-bottom-color: #de5e5a;
      }
    }
  }

  .note-title {
    margin: 0;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
    font-family: $font-title;
  }
}

.article-footer {
  clear: both;
  margin: 4em 0 0;
  border-top: 1px solid $color-border;
  text-align: center;
  color: $color-gray;
  line-height: 1.2em;
  padding-top: 2em;
  position: relative;
  overflow: auto;

  @include clearfix;
}

.article-footer-prev, .article-footer-next {
  color: $color-link;
  text-decoration: none;
  font-weight: 400;
  font-family: $font-title;
  left: auto;
  display: inline-block;
  width: 50%;
  border-bottom: 0 !important;

  &:hover {
    color: $color-link-hover;
  }

  span {
    padding: 0 6px;
  }

  i {
    font-size: 0.8em;
  }
}

.article-footer-prev {
  text-align: left;
  float: left;
}

.article-footer-next {
  text-align: right;
  float: right;
}

.article-footer-updated {
  margin: 1em 0 3em;
  text-align: center;
  font-size: 0.9em;
  font-family: $font-title;
  font-style: italic;
  color: $color-gray;
  line-height: 1em;
  padding-top: 2em;
  position: relative;

  @include clearfix;
}

.article-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
}

.article-title {
  font-family: $font-title;
  font-weight: bold;
  text-decoration: none;
  color: $color-default;
  line-height: 1.7em;
  color: #282C34;
  font-size: 2.6em;
}

.section-title {
  @include article-title;
  font-size: 1.2rem;
}

.article-inner {
  @include clearfix;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
  height: auto;
  margin: 2em 0;
  border: 1px solid #ddd;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.tutorial .article-inner {
  margin-right: 0;
}

.history {
  th:last-child {
    width: 100%;
  }
}

.aliases {
  display: inline-block;
  line-height: 1.4em;
  padding-top: 0.3em;
}
