.plugins {
  .wrapper {
    padding: 40px 40px;
  }

  h2 {
    border-bottom: 0;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 0.6em;

    a {

      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
    }



  }
}

ul.plugins-list {
  display: flex;
  margin: 0 0 0 -10px;
  padding: 0;
  width: calc(100% + 20px);
  flex-wrap: wrap;

  li {
    box-sizing: border-box;
    list-style: none;
    padding: 20px;
    width: 30%;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);

    p {
      margin-bottom: 0.5em;
    }
  }

  .keyword {
    font-weight: 300;
    color: #777;
  }
}
