#sidebar {
  width: $sidebar-width;
  opacity: 0.8;
  position: fixed;
  overflow-y: auto;
  top: 60px;
  padding-bottom: 60px;
  left: 0; 
  bottom: 0;
  border-right: 1px solid #eee;

  &>ul {
    list-style: none;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 1.5em;
  }
}

.toggle-sidebar-btns {
  display: flex;
  margin: 20px 30px 0;
  justify-content: space-between;

  a, span {
    color: #999;
    text-transform: uppercase;
    font-size: 0.85em;
    text-decoration: none;
    font-weight: 500;

    &:hover, &:focus:hover {
      color: $color-link-hover;
    }

    &:focus, &:active {
      color: #999;
    }
  }
}

.sidebar-title {
  font-size: 1em;
  padding: 0;
  font-family: $font-title;
  font-weight: 500;
  color: $color-default;
  display: inline-block;
  line-height: 1.2em;
  font-size: 1.2em;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 10px 0;

  &.current {
    strong, &:after {
      color: $color-link;

      i {
        color: $color-link;
      }
    }
  }

  &:hover {
    strong, &:after {
      color: $color-link-hover;
    }
  }

  strong {
    padding: 0 30px;
    display: block;
  }

  &:hover {
    color: #222;
  }

  &:after {
    transition: 0.3s;
	  transform-style: preserve-3d;
    transform: rotateX(0deg);
    content: "\f078"; //fa-chevron-down
    font-family: FontAwesome;
    position: absolute;
    right: 2em;
    top: 0;
    font-size: 0.7em;
  }

  ul.sidebar-links {
    margin-top: 0; 
    transition: height 0.2s ease-out;
    height: auto;
    list-style: none;

    &>.sidebar-li:first-child {
      padding-top: 10px;
    }
  }

  &.is-collapsed {
    ul.sidebar-links {
      height: 0;
    }

    &:after {
      transform: rotateX(180deg);
    }
  }


}

#sidebar .sidebar-title:first-child {
  margin-top: 0;
}

.sidebar-li {
  line-height: 1.7;
}

.sidebar-title .sidebar-link {
  font-family: $font-sans;
  font-size: 0.9em;
  display: block;
  color: $color-default;
  text-decoration: none;
  padding: 3px 30px;
  position: relative;
  width: 100%;
  font-weight: 400;
  overflow: auto;
  white-space: normal;

  &.current {
    color: white;
    font-weight: 500;
    background-color: #1DBE89;
    &:hover {
      color: white;
      background-color: #1DBE89;
    }
  }

  &:hover {
    color: #129e70;
  }
}
