#article-toc .sidebar-title {
  padding: 10px 0;
}

#article-toc {
  display: none;
  width: $sidebar-width;
  opacity: 0.8;
  justify-self: flex-end;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.toc {
  border-left: 4px solid #f9f9f9;
  padding-left: 10px;
}
.toc-child {
  padding-left: 1em;
  font-size: 0.9em;
  line-height: 1.5;
  list-style: none;
}

#article-toc-inner {
  padding: 2.5em 20px;
  width: $sidebar-width - 40px;

  .sidebar-title {
    margin-top: 0;
  }

  @include clearfix;
}

.toc-link {
  font-family: $font-title;
  font-size: 0.95em;
  display: block;
  color: #787e82;
  text-decoration: none;
  padding: 5px 0 5px 5px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: normal;

  &.current {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }
}

#article-toc-top {
  margin-top: 2em;
  text-decoration: none;
  color: $color-link;
  display: block;
  margin-bottom: 40px;
  font-family: $font-sans;
  margin-left: 20px;
  font-size: 0.9em;
  &:hover {
    color: $color-link-hover;
  }
}

.toc, .toc-item {
  list-style: none;
}

.toc-link {
  border-left: 5px solid transparent;
}

.active>.toc-link {
  font-weight: 500;
  color: $color-default;
  border-left-color: $color-green;
}

//#article-toc-inner {
//  padding: 2.5em 20px;
//}

.toc-top {
  .toc {
    border-left: 0; 
    padding-left: 0; 
  }

  .article-content {
    padding-top: 20px;
  }

  ol.toc, ol.toc-child {
    padding-bottom: 15px;
    padding-left: 0;
  }

  ol.toc-child {
    padding-bottom: 5px;
  }

  .toc-link {
    padding-left: 0;
    padding: 3px 10px;
    line-height: 2em;
    font-size: 1.1em;
  }

  .article-header h1, .article-header .article-edit-link {
    border-bottom: 0;
  }

  .toc-level-1 {
    a.toc-link {
      padding-left: 0;
      margin-bottom: 5px;
      border-bottom: 1px solid #eee;
      color: #999;

      &:hover {
        cursor: pointer;
        color: #999;
        border-bottom: 1px solid #eee;
      }
    }
  }

  .toc-level-2 {
    a.toc-link {
      border-bottom: 0;
      padding-left: 5px;
      color: $color-link;

      &:before {
        content: "\f105";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-right: 3px;
      }

      &:hover {
        cursor: pointer;
        color:$color-link-hover;
        border-bottom: 0;
      }
    }
  }

  .article {
    h1 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
      }
    }

    h2 {
      &:first-of-type {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
      }
    }
  }
}
