node_modules/
db.json
public/
*.log
.DS_Store
.history
.vscode
.deploy*/
support
.idea/

themes/cypress/source/css/vendor/
themes/cypress/source/js/vendor/
themes/cypress/source/fonts/vendor/

cypress/screenshots
cypress/videos
