node_modules/
db.json
public/
*.log
.history
.vscode
.DS_Store
.deploy*/
support
!cypress/support
.idea/
.nuxt/
static/sw.js
.eslintcache

themes/cypress/source/css/vendor/
themes/cypress/source/js/vendor/
themes/cypress/source/fonts/vendor/

cypress/screenshots
cypress/videos

# Dynamically parsed data

source/_data/banners.yml
