section {
  margin-bottom: 3rem;
}

h3 {
  margin-bottom: 0.75rem;
}

.plugins .wrapper {
  padding: 40px 40px;
}

.plugins h2 {
  border-bottom: 0;
  margin-bottom: 0;
}

.plugins h3 {
  font-size: 1.3em;
  margin: 0;
  border-bottom: 0;
  line-height: 1.3;
}

.plugins a {
  border-bottom: 0;
}
.plugins a:hover {
  border-bottom: 0;
}

ul.pluginsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
  margin: 0 !important;
  padding: 0;
}

.markdown ul.pluginsList li {
  box-sizing: border-box;
  list-style: none;
  padding: 20px;
  margin: 0 !important;
}

ul.pluginsList li p {
  margin-bottom: 0.5em;
}

.pluginBadge {
  margin-bottom: 5px;
}

.pluginTitle {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.6em;
}

@media (min-width: 1280px) {
  .pluginTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pluginBadge {
    margin: 0;
  }
}

/* remove hash symbol from appearing in the ::before
   of the anchors in titles */
.pluginTitle > h3 > a::before {
  content: '';
  margin-left: 0;
  padding-right: 0;
}

.badge {
  display: inline-block;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 10rem;
  font-weight: 700;
  padding: 0.25em 0.8em;
  line-height: 0.75rem;
}

.badgePill {
  font-size: 12px;
  color: white;
}

.badgePill.badgeCommunity {
  background-color: #737373;
}

.badgePill.badgeExperimental {
  background-color: #965cc1;
}

.badgePill.badgeOfficial {
  background-color: #257e8e;
}

.badgePill.badgeVerified {
  background-color: #00805b;
}

.keyword {
  font-weight: 300;
  color: #777;
}
