version: 2.1

orbs:
  cypress: cypress-io/cypress@1.26.0

executors:
  node-executor:
    docker:
      - image: cimg/node:16.15.1
  with-chrome-and-firefox:
    resource_class: medium+
    docker:
      - image: 'cypress/browsers:node16.13.2-chrome97-ff96'

commands:
  docs-build:
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-cache-{{ checksum "package-lock.json" }}            
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: npm-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Docs Build
          command: npm run build


job-defaults: &job-defaults
  executor: node-executor
  working_directory: ~/repo

jobs:
  build:
    <<: *job-defaults
    steps:
      - docs-build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist/*
            - node_modules/*

  lint:
    <<: *job-defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run: npm run lint

  
  # TODO: set the branch to master when released
  release:
    <<: *job-defaults
    steps:
      # - docs-build
      - setup_remote_docker
      - run:
          name: Algolia Scraper
          command: |
            echo "Scraping..."
            ls
            node ./scripts/search/scrape-and-compare-algolia-index.js 

workflows:
  version: 2
  build-and-test:
    jobs:
      - lint:
          name: "Lint JS/CSS/Markdown"
          requires:
            - build
      - build:
          filters:
            branches:
              ignore:
                - master

      # TODO, replace branch with master on release
      # Run Algolia scraper only on master.
      - release:
          name: 'Run Algolia scraper'
          filters:
            branches:
              only:
                - new-docs-site-algolia-ci
  
