version: 2.1

orbs:
  cypress: cypress-io/cypress@3

executors:
  node-executor:
    resource_class: medium+
    docker:
      - image: cimg/node:18.15.0
  with-chrome-and-firefox:
    resource_class: medium+
    docker:
      - image: 'cypress/browsers:node18.12.0-chrome106-ff106'

commands:
  docs-build:
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-cache-{{ checksum "package-lock.json" }}            
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: npm-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Docs Build
          command: npm run build


job-defaults: &job-defaults
  executor: node-executor
  working_directory: ~/repo

jobs:
  build:
    <<: *job-defaults
    steps:
      - docs-build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist/*
            - node_modules/*

  lint:
    <<: *job-defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run: npm run lint

  install-and-persist:
    executor: cypress/default
    steps:
      - cypress/install
      - persist_to_workspace:
          root: ~/
          paths:
            - .cache/Cypress
            - project

  run-tests-in-parallel:
    executor: cypress/default
    steps:
      - attach_workspace:
          at: ~/
      - cypress/run-tests:
          start-command: 'npm run start'
          cypress-command: 'npx wait-on@latest http://localhost:3000 && npx cypress run --parallel --record'

  release:
    <<: *job-defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - setup_remote_docker
      - run:
          name: Algolia Scraper
          command: |
            echo "Scraping..."
            ls
            node ./scripts/search/scrape-and-compare-algolia-index.mjs 

workflows:
  build-and-test:
    jobs:
      - build
      - lint:
          name: "Lint JS/CSS/Markdown"
          requires:
            - build     
      - install-and-persist:
          name: Install & Persist To Workspace
      - run-tests-in-parallel:
          name: Run Tests in Parallel
          requires:
            - build
            - Install & Persist To Workspace      
      # Run Algolia scraper only on main.
      - release:
          name: 'Run Algolia scraper'
          requires:
            - build
          filters:
            branches:
              only:
                - main
