version: 2.1

orbs:
  cypress: cypress-io/cypress@1.29.0

executors:
  with-chrome-and-firefox:
    docker:
      - image: "cypress/browsers:node16.5.0-chrome94-ff93"
    resource_class: medium+

job-defaults: &job-defaults
  executor: with-chrome-and-firefox

workflows:
  build-and-test:
    jobs:
      # Setup
      #  1. Install Cypress
      #  2. Validate types
      # 3. Lint Files
      - cypress/install:
          name: "Setup Linux"
          yarn: true
          executor: with-chrome-and-firefox
          build: "yarn build"
          post-steps:
            - run:
                name: Print machine info ℹ️
                command: yarn cypress info
            - run:
                name: Check Types
                command: yarn types
            - run:
                name: Lint Files
                command: yarn lint

      # Run E2E tests in Chrome
      - cypress/run:
          name: "UI Tests - Chrome"
          browser: chrome
          executor: with-chrome-and-firefox
          wait-on: "http://localhost:3000"
          yarn: true
          start: yarn start
          requires:
            - Setup Linux
