version: 2.1

orbs:
  cypress: cypress-io/cypress@1.26.0

executors:
  node-executor:
    docker:
      - image: cimg/node:16.15.1
  with-chrome-and-firefox:
    resource_class: medium+
    docker:
      - image: 'cypress/browsers:node16.13.2-chrome97-ff96'

commands:
  docs-build:
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-cache-{{ checksum "package-lock.json" }}            
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: npm-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Docs Build
          command: npm run build


job-defaults: &job-defaults
  executor: node-executor
  working_directory: ~/repo

jobs:
  build:
    <<: *job-defaults
    steps:
      - docs-build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist/*
            - node_modules/*

  # Disabling until linting is back in place
  # lint:
  #   <<: *job-defaults
  #   steps:
  #     - checkout
  #     - attach_workspace:
  #         at: ~/repo
  #     - run: npm run lint

  # Disabling until we know if we need this
  # broken-link-check-prod:
  #   <<: *job-defaults
  #   steps:
  #     - checkout
  #     - restore_cache:
  #         keys:
  #           - npm-cache-{{ checksum "package-lock.json" }}-{{ checksum "patches/github-slugger+1.3.0.patch" }}-{{ checksum "patches/@docsearch+js+1.0.0-alpha.28.patch" }}
  #     - run:
  #         name: Install Dependencies
  #         command: npm ci
  #     - run:
  #         name: Broken link checker
  #         command: npm run broken-link-checker:prod

  # Disabling until we know if we need this
  # release:
  #   <<: *job-defaults
  #   steps:
  #     - nuxt-build
  #     - run:
  #         name: Docsearch Scraper
  #         command: node ./cy_scripts/scrape.js

  # Disabling until we know if we need this
  # publish-scheduled-sanity-content:
  #   <<: *job-defaults
  #   steps:
  #     - checkout
  #     - restore_cache:
  #         keys:
  #           - npm-cache-{{ checksum "package-lock.json" }}-{{ checksum "patches/github-slugger+1.3.0.patch" }}-{{ checksum "patches/@docsearch+js+1.0.0-alpha.28.patch" }}
  #     - run:
  #         name: Install Dependencies
  #         command: npm run install
  #     - run:
  #         name: Check for scheduled sanity.io content to publish and invoke Netlify build hook if necessary
  #         command: node ./scripts/sanity/publishContent.js

workflows:
  version: 2
  build-and-test:
    jobs:
      # Disabling until we know if we need this
      # - cypress/install:
      #     name: 'Setup Linux'
      #     install-command: npm ci
      #     executor: with-chrome-and-firefox
      #     post-steps:
      #       - run:
      #           name: 'Unit tests'
      #           command: npm run test:unit --ci --runInBand

      # Disabling until we know if we need this
      # - link-check-changed-files:
      #     name: 'Broken link checker'
      #     requires:
      #       - build

      # Disabling until linting is back in place
      # - lint:
      #     name: "Lint JS/CSS/Markdown"
      #     requires:
      #       - build

      # Disabling until we know if we need this
      # Run E2E tests in Chrome
      # - cypress/run:
      #     name: 'UI Tests - Chrome'
      #     browser: chrome
      #     executor: with-chrome-and-firefox
      #     wait-on: 'http://localhost:3000'
      #     command-prefix: npx percy exec --
      #     start: npm run start:ci
      #     parallel: true
      #     parallelism: 4
      #     ci-build-id: ${CIRCLE_SHA1:0:8}
      #     group: 'UI - Chrome'
      #     requires:
      #       - build
      #       - Setup Linux
      #     command: |
            # if [ -n "$DOCS_RECORD_KEY" ]; then
            #   npx cypress run --record --key $DOCS_RECORD_KEY --parallel
            # else
            #   npx cypress run
            # fi

      - build:
          filters:
            branches:
              ignore:
                - master

      # Disabling until we know if we need this
      # Run docsearch-scraper only on master.
      # - release:
      #     name: 'Run docsearch scraper'
      #     filters:
      #       branches:
      #         only:
      #           - master
  
  # Disabling until we know if we need this
  # nightly:
  #   triggers:
  #     - schedule:
  #         cron: "0 0 * * *"
  #         filters:
  #           branches:
  #             only:
  #               - master
  #   jobs:
  #     - broken-link-check-prod
