main {
  padding: 20px 0;
}

.mainContentHeader {
  margin-bottom: 20px;
}

div.mainContentHeader a {
  border-bottom: none;
  padding: 8px 0 12px 0;
}

div.mainContentHeader a:hover {
  border-bottom: none;
}

[data-theme='dark'] div.mainContentHeader a {
  border-bottom: none;
  padding: 8px 0 12px 0;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
