@media screen {
  html, body {
    height: 100%;
  }

  .inner {
    padding: 0;
  }

  .post {
    max-width: 800px;
  }
}

@media screen and(min-width: 769px) {
  .inner {
    padding: 0 $gutter-width;
  }

  #logo-wrap {
    flex: 0 100px;
  }

  #search-input {
    font-size: 1em;
  }

  #header-inner {
    padding: 0 20px;
  }

  #sidebar .inner {
    padding-right: 0;
  }

  #main-nav {
    .main-nav-link {
      display: inline-block;
    }
    .main-nav-right{
      display: flex;
      align-items: center;
    }
  }

  #lang-select-wrap {
    display: flex;
    #lang-select-label{
      display: flex;
      align-items: center;
    }
  }

  #sidebar {
    display: block;
  }

  .article-container {
    width: 100%;
  }

  #article-toc {
    display: block;
  }

  #mobile-nav-toggle {
    display: none;
  }
}

@media screen and(min-width: 1001px) {
  a.article-edit-link {
    display: block;
  }
}

@media screen and (max-width: 1351px) {
  .media {
    h2 {
      font-size: 1.2em;
    }
  }
}


@media screen and(max-width: 1300px) {
  .toc-top .article-wrapper {
    margin-right: 40px;
  }

  #logo-wrap {
    margin-right: 20px;
    margin-left: 0; 
  }
}



@media screen and(max-width: 1000px) {

  #content-wrap {
    padding-top: 0;
  }

  .article-edit-link {
    display: none;
  }

  .main-nav-link {
    font-size: 1em;
    padding: 5px 10px 2px;
  }

  .article-inner {
    margin-right: 0 !important;
  }

  #article-toc {
    display: none;
    width: auto;
    margin-right: 0;

    &.fixed {
      right: auto;
    }
  }

  .article-wrapper {
    margin-right: 0;

    .media {
      h2 {
        font-size:1em;
      }
    }
  }

  #footer-social {
    width: 200px;
    margin: 10px auto;
    border-top: 1px solid #333;
    padding: 10px 20px;
    float: none;
  }
}

@media screen and(max-width: 860px) {
  footer.wrapper .top {
    flex-direction: column;
    padding: 30px;

    .footer-form {
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media screen and(max-width: 769px) {
  #logo img {
    padding-top: 4px;
  }
  
  #content-wrap {
    padding-top: 0;
  }

  #lang-select-wrap {
    display: none;
  }

  .article-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
 

  #header-inner {
    flex-direction: column;
  }

  #sidebar {
    display: none;
  }

  #main-nav {
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid #333;
    padding: 10px 0;

    .main-nav-right {
      width: 100%;
    }

    #search-container {
      width: 100%;
      display: block;
      margin-top: 0;

      #search-input-wrap, input#search-input {
        display: block;
      }
    }
  }

  .searchbox {
    width: 300px !important;
  }

  .algolia-autocomplete .ds-dropdown-menu {
    position: relative;
    top: -6px;
    left: -120px;
  }

  #content-inner {
    padding-bottom: 40px;
    margin-left: 0;
  }

  .article-header {
    margin: 20px 0;
    h1 {
      line-height: 1.3em;
    }
  }

  .article pre, .article code,
  .faq pre, .faq code {
    font-size: 1em;
  }

  .article-content, .faq .article {
    table {
      margin: 1em 0;
      width: 100%;
      border: 1px solid #e8e8e8;

      th {
        font-weight: 500;
        padding: 2px 5px;
        text-align: left;
        border-bottom: 1px solid #e8e8e8;
        font-size: 0.9em;

        &:empty {
          padding: 0;
        }
      }

      td {
        padding: 10px 5px;
        font-size: 0.9em;
        line-height: 1.5em;
      }

      tr:nth-child(2n) {
        background: #fafafb;
      }
    }

    h1 {
      line-height: 1.3em;
      padding-bottom: 5px;
    }

    h2 {
      line-height: 1.3em;
    }

    .note {
      line-height: 1.6em;

      ul {
        padding-left: 20px;
      }
    }
  }

  footer.wrapper .top {
    flex-direction: column;
    padding: 30px;

    .footer-form {
      text-align: center;
      margin: 0 auto;
    }
  }

  ul.plugins-list {
    margin: 0 0 0 -10px;  
    &>li {
      width: 45%;
      margin-left: 10px; 
      margin-right: 10px; 
    }
  }

  #logo-wrap {
    display: flex;
  }
}


@media screen and(max-width: 620px) {
  .media {
    width: 100%;
    padding-right: 0;
  }
  
  .algolia-autocomplete .ds-dropdown-menu {
    max-width: 320px;
    min-width: 320px;
  }
}

@media screen and(max-width: 500px) {
  ul.plugins-list li {
    width: 100%;
  }
}

@media screen and(max-width: 375px) {
  .not-found {
    h1 {
      font-size: 30px;
      line-height: 50px;
    }

    p {
      margin-left: 20px;
      margin-right: 20px;
    }

    ul {
      margin: 30px 20px 0 20px;
    }
  }
}
