
//colors
$black: #000;

$white: #fff;
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-60: rgba(255,255,255,0.6);

$color-gray: #999;
$color-green: #04C38E;
$color-red: #EA4D5C;
$color-orange: #f0ad4e;
$color-default: #2e3138;
$color-border: #e3e3e3;
$color-link: #22b987;
$color-link-hover: #15946a;
$color-background: #172432;

$highlight-background:    #252831;
$highlight-current-line:  #efefef;
$highlight-selection:     #d6d6d6;
$highlight-foreground:    #ecebeb;
$highlight-comment:       #777b84;
$highlight-red:           #de7b82;
$highlight-orange:        #D19A66;
$highlight-yellow:        #F2CC97;
$highlight-green:         #73d684;
$highlight-aqua:          #6BCECD;
$highlight-blue:          #9cd3ff;
$highlight-purple:        #ec96e9;

// Typography
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Garamond, Georgia, "Times New Roman", serif;
$font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-title: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.7em;

// Layout
$gutter-width: 30px;
$sidebar-width: 290px;
$mobile-nav-width: 260px;

// Media queries
$mq-mobile: "screen and (max-width: 768px)";
$mq-normal: "screen and (min-width: 769px)";
$mq-tablet: "screen and (min-width: 480px)";
