
//colors
$black: #000;

$white: #fff;
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-60: rgba(255,255,255,0.6);

$color-gray: #999;
$color-green: hsl(163, 96%, 39%); // #04c38e
$color-green-dark: hsl(160, 92%, 28%); // #06885d
$color-red: #EA4D5C;
$color-orange: #f0ad4e;
$color-default: #2e3138;
$color-border: #e3e3e3;
$color-link: #1079c3;
$color-link-hover: #0c65a5;
$color-background: #172432;

$highlight-background:    #101113;
$highlight-current-line:  #efefef;
$highlight-selection:     #d6d6d6;
$highlight-foreground:    #f18d98;
$highlight-comment:       #8F949E;
$highlight-red:           #f18d98;
$highlight-orange:        #efab6b;
$highlight-yellow:        #f3cd93;
$highlight-green:         #84ce9e;
$highlight-aqua:          #67cece;
$highlight-blue:          #a4d3f9;
$highlight-purple:        #e4a7e4;

// Typography
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Garamond, Georgia, "Times New Roman", serif;
$font-mono: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-title: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 17px;
$line-height: 1.7em;

// Layout
$gutter-width: 30px;
$sidebar-width: 290px;
$mobile-nav-width: 260px;

// Media queries
$mq-mobile: "screen and (max-width: 768px)";
$mq-normal: "screen and (min-width: 769px)";
$mq-tablet: "screen and (min-width: 480px)";
