.badge {
  display: inline-block;
  color: #fff;
  padding: 0.25em 0.4em;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 700;
  border-radius: 9999px;
}

/* large green badge in page/content titles */
.hint {
  background-color: #cff1e6;
  color: #127458;
  padding: 0.125rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
