/* announcement bar overrides */

/* using attribute selector for these dynamic classes */
div [class^='announcementBar'] {
  font-family: 'Poppins';
  height: unset;
  @apply bg-indigo-50;
  color: var(--ifm-color-gray-1000);
  padding: 0.8rem 0;

  a {
    text-decoration: none;
    @apply text-indigo-500;

    &:hover {
      border-bottom: 1px dotted var(--ifm-color-gray-500);
      @apply border-b-indigo-500;
    }
  }

  button[aria-label='Close'] {
    opacity: 1;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    @apply text-indigo-400;

    &:hover {
      transform: scale(1.1);
      @apply text-indigo-500;
    }
  }
}
