/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 85%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Source Sans Pro';
  --ifm-toc-border-color: #eee;
  --ifm-line-height-base: 1.6;
  --ifm-global-spacing: 1.3rem;
  --ifm-table-stripe-background: rgb(243, 244, 246);
  --docusaurus-highlighted-code-line-bg: rgba(71, 128, 220, 0.4);
}

/* prevent fonts from looking so chunky, esp in FF */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="light"] {
  --ifm-font-color-base: #2e3138
}

/* acessibility contrast */
[data-theme="light"] .DocSearch-Button-Placeholder {
  color: #606770
}

[data-theme="light"] .navbar--dark {
  background-color: rgb(31, 41, 55);
}

[data-theme="light"] .menu__link--active {
  --ifm-menu-color-active: #26764a;
}

[data-theme="light"] .breadcrumbs__item--active .breadcrumbs__link {
  --ifm-breadcrumb-color-active: #26764a;
}

[data-theme="light"] .menu__link--active:not(.menu__link--sublist) {
  background: #cff1e6;
}

[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-toc-border-color: var(--ifm-color-gray-700)
}

[data-theme="dark"] .menu {
  background-color: #1b1b1d;
  border-right: 1px solid var(--ifm-toc-border-color);
}

[data-theme="dark"] div.markdown h2, h3, h4 {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

[data-theme="dark"] .alert.alert--info h2,h3,h4 {
  border-bottom: none;
  padding-bottom: 0;
}

[data-theme="dark"] div.markdown a {
  color: #29a7ff;
  text-decoration: none;
  border-bottom: 1px dotted #29a7ff;
}

article {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.markdown.markdown h1:first-child {
  margin-bottom: 0;
}

.navbar {
  height: 4rem;
  padding: 0 2rem;
}

.navbar__logo {
  height: 2.3rem;
}

.navbar__toggle {
  margin-right: 1rem;
}

.navbar__item {
  font-weight: 700;
  font-size: 1.00rem;
  color: rgb(209 213 219 / 1);
  margin-left: 1rem;
}

.navbar__items.navbar__items--right a {
  margin-left: 0;
  padding: 0 .5rem 0 .5rem;
}

.navbar__link:hover,
    .navbar__link--active {
      color: rgb(255 255 255 / 1);
      background-color: rgb(55 65 81 / 1);
      border-radius: 0.375rem;
      padding-top: 0.45rem;
      padding-bottom: 0.45rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      text-decoration: none;
    }

[class^="toggle_"] button {
  margin-left: 0.15rem;
}

.theme-doc-sidebar-menu {
  padding: 0.75rem;
  font-weight: 700;
  font-size: 1.2rem;
}

/* sidebar subcategories */
.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2>.menu__list-item-collapsible a {
  font-size: 1.02rem;
}

/* sidebar children */
.theme-doc-sidebar-item-link-level-2,.theme-doc-sidebar-item-link-level-3>.menu__link {
  font-weight: 500;
  font-size: 1.05rem;
}

.theme-doc-sidebar-item-category {
  padding-bottom: 0.3rem;
}

/* only style the desktop menu background - mobile will remain dark theme */
.theme-doc-sidebar-container .menu {
  background-color: #f9fcfb;
  border-right: 1px solid #f0f3f2;
}

/* sidebar link chevrons */
.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.7rem 1.7rem;
}

.alert.alert--info {
  margin-bottom: 2rem;
}

/* TODO: using attribute selector for these dynamic classes
is swizzling better here? */
[class^="admonitionHeading_"] {
  display: none;
}

.alert.alert--info h2, h3 {
  border-bottom: none;
  padding-bottom: 0;
}

.markdown a {
  color: #1079c3;
  text-decoration: none;
  border-bottom: 1px dotted #1079c3;
}

div[class^=announcementBar] {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: none;
}

div.markdown {
  font-size: 1.125rem;
  word-spacing: 1px;
}

div.markdown a:hover {
  border-bottom-style: solid;
}

div.markdown ul li {
  margin: 0.7rem 0;
}

div.markdown h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

/* courses list */
div.markdown li p {
  margin-top: 0;
}

/* lists w/ headers as bullets */
ul li > h2, h3, h4 {
  border-bottom: none;
}

/* test-type pills */
div.markdown h2 a {
  border-bottom: none;
  margin-bottom: 6px;
}
div.markdown h2 a:hover {
  border-bottom: none;
}

div.markdown h3 a {
  border-bottom: none;
}
div.markdown h3 a:hover {
  border-bottom: none;
}

[data-theme="dark"] div.markdown h2 a {
  border-bottom: none;
  margin-bottom: 6px;
}
[data-theme="dark"] div.markdown h2 a:hover {
  border-bottom: none;
}

[data-theme="dark"] div.markdown h3 a {
  border-bottom: none;
}
[data-theme="dark"] div.markdown h3 a:hover {
  border-bottom: none;
}

/* Font Awesome Icons */
.svg-inline--fa {
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* YouTube Embeded Videos*/
.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  border: 1px solid #ddd;
}

.embedContainer iframe,
.embedContainer object,
.embedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* main nav icons - applied in docusaurus.config.js */
.github-logo::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.twitter-logo::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: .4rem;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- --%3E%3Csvg version='1.1' id='Logo' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 248 204' style='enable-background:new 0 0 248 204;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg id='Logo_1_'%3E%3Cpath id='white_background' class='st0' d='M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04 C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66 c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64 c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76 c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26 c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z'/%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat;
}

.discord-logo::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: .4rem;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 71 55' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M60.1045 4.8978C55.5792 2.8214 50.7265 1.2916 45.6527 0.41542C45.5603 0.39851 45.468 0.440769 45.4204 0.525289C44.7963 1.6353 44.105 3.0834 43.6209 4.2216C38.1637 3.4046 32.7345 3.4046 27.3892 4.2216C26.905 3.0581 26.1886 1.6353 25.5617 0.525289C25.5141 0.443589 25.4218 0.40133 25.3294 0.41542C20.2584 1.2888 15.4057 2.8186 10.8776 4.8978C10.8384 4.9147 10.8048 4.9429 10.7825 4.9795C1.57795 18.7309 -0.943561 32.1443 0.293408 45.3914C0.299005 45.4562 0.335386 45.5182 0.385761 45.5576C6.45866 50.0174 12.3413 52.7249 18.1147 54.5195C18.2071 54.5477 18.305 54.5139 18.3638 54.4378C19.7295 52.5728 20.9469 50.6063 21.9907 48.5383C22.0523 48.4172 21.9935 48.2735 21.8676 48.2256C19.9366 47.4931 18.0979 46.6 16.3292 45.5858C16.1893 45.5041 16.1781 45.304 16.3068 45.2082C16.679 44.9293 17.0513 44.6391 17.4067 44.3461C17.471 44.2926 17.5606 44.2813 17.6362 44.3151C29.2558 49.6202 41.8354 49.6202 53.3179 44.3151C53.3935 44.2785 53.4831 44.2898 53.5502 44.3433C53.9057 44.6363 54.2779 44.9293 54.6529 45.2082C54.7816 45.304 54.7732 45.5041 54.6333 45.5858C52.8646 46.6197 51.0259 47.4931 49.0921 48.2228C48.9662 48.2707 48.9102 48.4172 48.9718 48.5383C50.038 50.6034 51.2554 52.5699 52.5959 54.435C52.6519 54.5139 52.7526 54.5477 52.845 54.5195C58.6464 52.7249 64.529 50.0174 70.6019 45.5576C70.6551 45.5182 70.6887 45.459 70.6943 45.3942C72.1747 30.0791 68.2147 16.7757 60.1968 4.9823C60.1772 4.9429 60.1437 4.9147 60.1045 4.8978ZM23.7259 37.3253C20.2276 37.3253 17.3451 34.1136 17.3451 30.1693C17.3451 26.225 20.1717 23.0133 23.7259 23.0133C27.308 23.0133 30.1626 26.2532 30.1066 30.1693C30.1066 34.1136 27.28 37.3253 23.7259 37.3253ZM47.3178 37.3253C43.8196 37.3253 40.9371 34.1136 40.9371 30.1693C40.9371 26.225 43.7636 23.0133 47.3178 23.0133C50.9 23.0133 53.7545 26.2532 53.6986 30.1693C53.6986 34.1136 50.9 37.3253 47.3178 37.3253Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='71' height='55' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
  no-repeat
}

.github-logo:hover {
  opacity: 0.6;
}

/* open external page icon */
.footer__link-item svg {
  display: none;
}

.footer__links {
  margin-bottom: 2rem;
}

/* format right-side TOC */
/* give list breathing room */
.table-of-contents {
  line-height: 2;
}
.table-of-contents {
  font-size: .88rem;
}
/* but not as much on the children */
.table-of-contents li ul li {
  line-height: 1.2;
}
/* only target top level section titles in right side TOC */
.table-of-contents > li > .table-of-contents__link {
  font-weight: bold;
  opacity: 0.9;
}

/* format inline TOC above content */
.inlineTOC li {
  list-style-type: none;
}
.inlineTOC > div > ul > li {
  font-size: 1.15rem;
}
/* section child elements */
.inlineTOC ul > li {
  font-size: 1.1rem;
  padding-left: 1rem;
}
.inlineTOC ul li a {
  border-bottom: none;
  line-height: 1.75rem;
  padding-left: .75rem;
}
.inlineTOC ul li a:hover {
  border-bottom: none;
}
[data-theme="dark"] .inlineTOC ul li a {
  border-bottom: none;
}
/* add chevrons */
.inlineTOC ul > li:before {
  content: ' ';
  display: inline-block;
  border-bottom: 2px solid #1079c3;
  border-right: 2px solid #1079c3;
  height: 6px;
  width: 6px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
/* inline TOC errors page */
/* section headers */
.errorsInlineTOC div > ul > li > a {
  font-size: 1.25rem;
  color: #6b7280;
  /* !important to keep the hoizontal rule under the section titles from acting janky on hover */
  border-bottom: 1px solid var(--ifm-toc-border-color) !important;
  display: block;
  padding-top: 1rem;
  padding-bottom: .25rem;
  padding-left: 0rem;
}
/* remove chevron on section header */
.errorsInlineTOC div > ul > li:before {
  all: unset;
}
/* format inline TOC end */

.mediaGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}

.mediaColumn {
  max-width: 300px;
}

.mediaTitleContainer {
  height: 80px;
}

.mediaImage {
  width: 100%;
  height: auto
}

/* remove extra vertical space from tabs when it contains a code block */
.tabs-container .theme-code-block {
  margin-top: -1.4rem;
}

code span::selection {
  background: var(--docusaurus-highlighted-code-line-bg);
}
