/* format inline TOC above content */
.inlineTOC li {
  list-style-type: none;
}
.inlineTOC > div > ul > li {
  font-size: 1.15rem;
}
/* section child elements */
.inlineTOC ul > li {
  font-size: 1.1rem;
  padding-left: 1rem;
}
.inlineTOC ul li a {
  border-bottom: none;
  line-height: 1.75rem;
  padding-left: 0.75rem;
}
.inlineTOC ul li a:hover {
  border-bottom: none;
}
[data-theme='dark'] .inlineTOC ul li a {
  border-bottom: none;
}
/* add chevrons */
.inlineTOC ul > li:before {
  content: ' ';
  display: inline-block;
  border-bottom: 2px solid var(--ifm-link-color);
  border-right: 2px solid var(--ifm-link-color);
  height: 6px;
  width: 6px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
/* inline TOC errors page */
/* section headers */
.inlineTOC div > ul > li > a {
  font-size: 1.25rem;
  color: var(--ifm-color-gray-700);
  /* !important for specificity to keep hoizontal rule under section titles from acting janky on hover */
  border-bottom: 1px solid var(--ifm-toc-border-color) !important;
  display: block;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  padding-left: 0rem;
}
/* remove chevron on section header */
.inlineTOC div > ul > li:before {
  all: unset;
}