.theme-doc-sidebar-container .menu {
  background-color: var(--ifm-menu-color-background);
}

.theme-doc-sidebar-menu {
  padding: 0.75rem;
  font-family: 'Roboto';
  font-weight: var(--ifm-font-weight-semibold);
  font-size: 1.1rem;
}

/* sidebar subcategories */
.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2
  > .menu__list-item-collapsible
  a {
  font-size: 1rem;
}

/* sidebar children */
.theme-doc-sidebar-item-link-level-2 > .menu__link {
  font-weight: var(--ifm-font-weight-normal);
  font-size: 1rem;
}

.theme-doc-sidebar-item-link-level-3 > .menu__link {
  font-weight: var(--ifm-font-weight-normal);
  font-size: .95rem;
}

.theme-doc-sidebar-item-category {
  padding-bottom: 0.3rem;
}

/* sidebar link chevrons */
.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.7rem 1.7rem;
}
