.theme-doc-sidebar-container .menu {
  background-color: var(--ifm-menu-color-background);
}

.theme-doc-sidebar-item-category {
  padding-bottom: 0.3rem;
}

/* sidebar menu */
.theme-doc-sidebar-menu {
  padding: 0.75rem;
  font-family: 'Roboto';
  font-size: 1.1rem;
}
/* sidebar menu children */
.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-link-level-4 {
  font-size: 1.025rem;
}

/* sidebar menu collapsible children */
.theme-doc-sidebar-item-category-level-2,
.theme-doc-sidebar-item-category-level-3 > .menu__list-item-collapsible {
  font-size: 1.025rem;
}

/* sidebar chevrons */
.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.7rem 1.7rem;
}

// helps delineate different refs in sidebar, particularly in API section
.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2.menu__list-item.sidebar-guide-ref {
  font-weight: 600;
}

// "new" feature label in sidebar
.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2.menu__list-item.new_label,
.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3.menu__list-item.new_label {
  a::after {
    color: #fff;
    content: 'New';
    font-size: 0.7rem;
    border-radius: 5px;
    margin-left: 5px;
    padding: 2px 5px;
    @apply bg-indigo-400;
  }
}
