/* format right-side TOC */
/* give list breathing room */
.table-of-contents {
  line-height: 2;
  font-size: 1rem;
  padding-left: 2rem;
  a:hover {
    @apply text-indigo-500;
    html[data-theme='dark'] & {
      @apply text-indigo-400;
    }
  }
}

/* but not as much on the children */
.table-of-contents li ul li {
  line-height: 1.25;
  a {
    @apply text-gray-700;
    html[data-theme='dark'] & {
      @apply text-gray-300;
    }
  }
}
/* only target top level section titles in right side TOC */
.table-of-contents > li > .table-of-contents__link {
  font-weight: bold;
  opacity: 0.9;
}

.table-of-contents .table-of-contents__link--active {
  @apply text-indigo-500;
  html[data-theme='dark'] & {
    @apply text-indigo-400;
  }
}

.table-of-contents__left-border {
  @apply border-gray-1000/[.07];
  html[data-theme='dark'] & {
    @apply border-gray-900;
  }
}
