$sidebar-desktop-width: 290px;

[id] {
  scroll-margin-top: 5.5rem;
}

.app-sidebar {
  background-color: rgb(249, 252, 251);
  border-right-color: rgb(240, 243, 242);
  border-right-style: solid;
  border-right-width: 1px;
}

.main-content {
  @apply w-full;
  @apply lg:grid;
  @apply lg:grid-cols-12;
  @apply lg:gap-8;
}

.main-content-article-wrapper {
  @apply w-full;
  @apply relative;
  @apply my-0;
  @apply flex;
  @apply flex-row;
  @apply justify-center;
  @apply lg:col-span-9;
  @apply xl:col-span-8;
  @apply mt-16;
}

.main-content-article {
  flex: 1;
  overflow: scroll;
  max-width: 900px;
  @apply px-4;

  @screen md {
    @apply px-8;
  }

  @screen lg {
    @apply px-16;
    @apply mx-2;
  }
}

.main-content-title {
  border-bottom-width: 1px;
  border-bottom-color: rgb(238, 238, 238);
  @apply text-3xl;
  @apply font-bold;
  @apply mt-10;
  @apply mb-6;
  @apply pb-3;

  @screen md {
    @apply text-5xl;
    @apply mt-14;
  }
}

/* Hide scrollbar */
.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.nuxt-content {
  img {
    @apply max-w-full;
    @apply my-4;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px #ddd;
  }

  strong {
    @apply font-semibold;
  }

  & > h1 {
    border-bottom-width: 1px;
    border-bottom-color: rgb(238, 238, 238);
    @apply text-black;
    @apply font-bold;
    @apply text-3xl;
    @apply mt-16;
    @apply mb-6;
    @apply pb-3;
  }

  h1,
  h2,
  h3 {
    @apply flex;
    @apply flex-row;
    @apply items-center;
  }

  h2 {
    @apply font-bold;

    & > svg {
      @apply mr-2;
    }
  }

  h1 > svg,
  h2 > svg,
  h3 > svg {
    @apply mr-2;
  }

  & > h2 {
    @apply mt-8;
    @apply text-3xl;
    border-bottom-width: 1px;
    border-bottom-color: rgb(238, 238, 238);
  }

  & > h2,
  & > h3,
  & > h4 {
    @apply mb-6;
    @apply pb-2;
    @apply border-b;
    border-bottom-color: rgb(238, 238, 238);
  }

  & > h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply mt-8;
  }

  & > h4 {
    @apply text-xl;
    @apply font-medium;
  }

  /* #region Heading Links */

  h2:before,
  h3:before,
  h4:before {
    content: ' ';
    @apply block;
    @apply invisible;
    @apply pointer-events-none;
  }

  /* We use :first-of-type because a title */
  /* may contain an anchor tag that isn't  */
  /* the hidden link that is automagically */
  /* added by nuxt-content.                */
  h2 > a:first-of-type:before,
  h3 > a:first-of-type:before,
  h4 > a:first-of-type:before {
    content: '#';
    --text-opacity: 1;
    color: #1079c3;
    margin-left: -1.25rem;
    @apply font-normal;
    @apply text-xl;
    @apply pr-2;
    @apply opacity-0;
  }

  h2:hover > a:first-of-type:before,
  h3:hover > a:first-of-type:before,
  h4:hover > a:first-of-type:before {
    @apply opacity-100;
  }

  /* #endregion Heading Links */

  svg {
    @apply inline-block;
    height: 1em;
    width: 1em;
  }

  p {
    @apply text-lg;
    @apply mb-5;
  }

  p > code,
  li > code {
    color: #000;
  }

  p > code,
  li > code,
  a > code,
  h2 > code,
  h3 > code,
  td > code {
    font-weight: 400;
    font-size: 0.875em;
    background-color: #f7fafc;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    border-width: 1px;
    border-color: #edf2f7;
    border-radius: 0.25rem;
  }

  h2 > code,
  h3 > code {
    @apply mx-2;
  }

  a {
    color: #1079c3;
    text-decoration: none;
    border-bottom: 1px dotted #1079c3;

    &:hover {
      border-bottom-style: solid;
    }
  }

  strong > em {
    @apply not-italic;
    @apply font-bold;
    border-bottom: 1px dotted #ccc;
  }

  /* #region Lists */
  ol,
  ul {
    @apply ml-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply font-normal;
    @apply text-lg;
    @apply mt-4;
    @apply mb-4;
  }
  /* #endregion Lists */

  pre {
    @apply mb-6;
  }

  /* #region Tables */
  table {
    @apply table-auto;
    @apply mb-5;
  }

  th,
  td {
    @apply border;
    @apply px-4;
    @apply py-2;
  }

  tr:nth-child(2n) {
    @apply bg-gray-100;
  }
  /* #endregion Tables */

  /* #region Alerts */
  div.alert {
    @apply border-l-4;
    @apply px-12;
    @apply py-6;
    @apply mb-8;

    /* Headers */
    h1,
    .alert-header {
      @apply block;
      @apply text-lg;
      @apply font-medium;
    }

    h2,
    h3 {
      @apply text-xl;
      @apply flex;
      @apply flex-row;
      @apply items-center;
      @apply font-bold;
      @apply my-4;
    }

    h2 > svg,
    h3 > svg {
      @apply h-7;
      @apply w-7;
      @apply mr-2;
    }

    p {
      @apply mb-4;
    }

    ul {
      @apply list-disc;
    }

    li {
      @apply font-normal;
      @apply mt-4;
      @apply mb-4;
    }

    & > code {
      background-color: rgb(220, 241, 247);
    }
  }

  div.alert.is-info {
    border-left-color: #2a98b9;
    background-color: #f2fafd;

    .alert-header {
      color: #2a98b9;
    }

    a {
      color: #2a98b9;
      border-bottom-color: #2a98b9;
    }

    a > code {
      color: #2a98b9;
    }
  }

  div.alert.is-success {
    border-left-color: #00bf88;
    background-color: rgb(241, 253, 249);

    .alert-header {
      color: #00bf88;
    }

    a {
      color: #00bf88;
      border-bottom-color: #00bf88;
    }

    & > code {
      background-color: rgb(207, 241, 230);
    }

    a > code {
      color: #00bf88;
    }
  }

  div.alert.is-warning {
    border-left-color: rgb(240, 173, 78);
    background-color: rgb(255, 251, 245);

    .alert-header {
      color: rgb(240, 173, 78);
    }

    a {
      color: rgb(240, 173, 78);
      border-bottom-color: rgb(240, 173, 78);
    }

    & > code {
      background-color: rgb(247, 235, 215);
    }

    a > code {
      color: rgb(240, 173, 78);
    }
  }

  div.alert.is-danger {
    border-left-color: rgb(217, 83, 79);
    background-color: rgb(255, 242, 242);

    .alert-header {
      color: rgb(222, 94, 90);
    }

    a {
      color: rgb(222, 94, 90);
      border-bottom-color: rgb(222, 94, 90);
    }

    & > code {
      background-color: rgb(245, 228, 228);
    }

    a > code {
      color: rgb(222, 94, 90);
    }
  }
  /* #endregion Alerts */
}

.nuxt-content-highlight {
  @apply mb-5;

  .line-numbers {
    border-radius: 6px;
  }
}
