name: Create PR - develop -> master

on:
  pull_request:
    types: [closed]
    branches:
      - develop

jobs:
    pull-request:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@master
      - name: pull-request
        uses: repo-sync/pull-request@v2
        if: github.event.pull_request.merged == true
        with:
          github_token: ${{ secrets.GH_TOKEN }}
