.docsImage {
  margin-bottom: 1rem;
  /* border: 1px solid #999!important; */
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.26)!important;
}

.docsImage img {
  border: 1px solid #999 !important;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.26) !important;
}

.imageNoBorder {
  border: none !important;
  box-shadow: none !important;
}

.caption {
  font-size: 0.85rem;
  text-align: center;
}
